<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
    window.locations = <%= render(
        "api/locations/index.json.jbuilder",
        locations: locations
    ).html_safe %>
</script>

<main id="root"></main>