.react-date-picker {
    margin-top: 10px;

    .react-date-picker__wrapper {
        border: 1px solid rgb(216, 207, 207);
    }

}

.booking-box .booking-info {
    border: 1px solid rgb(216, 207, 207);
    width: 158px;
    height: 30px;
}

.booking-box div.price {
    margin-bottom: 20px;
}