.filter-modal button {
    margin-top: 10px;
}

.filter-modal button:hover {
    text-decoration: underline;
}

#filter-nest.listings-info {
    height: 25px;
    width: 100%;
    margin-bottom: 10px
}