 .create-listings {
     display: flex;
     flex-direction: column;
 }
 
 .create-listings .listings-info {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px;
    margin: 15px;
    height: 40px;
    width: 400px;
    padding: 0 10px;
 }

 .listings-info input {
   display: none;
 }

 .create-listings input {
    margin-left: 15px;
 }

.create-listings textarea.listings-info {
   height: 120px;
   padding: 10px;
}

 .create-listings .listings-button {
    display: block;
    background: rgb(255, 90, 95);
    border-radius: 5px;
    margin: 15px;
    padding: 0 10px;
    height: 30px;
    width: 400px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    color: white;
 }

.create-listings .listings-button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.form-errors {
   font-size: 10px;
   color: red;
   margin-left: 15px
}

.fas.fa-times:hover {
   cursor: pointer;
}
.fas.fa-times {
   height: 15px;
   width: 15px;
}