.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
 }

 .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    max-height: 80vh;
 }

 .modal-child.filter {
   position: absolute;
    top: 268px;
    left: 217px;
    width: 200px;
    height: 200px;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
 }

 .modal-child.filter.guests {
    left: 309px;
 }
 .modal-child.filter.nest {
    left: 410px;
 }
 .modal-child.filter.price {
    left: 540px;
 }

 .modal-background.filter.dates {
   background: rgba(255, 255, 255, .5);
 }
 .modal-background.filter.nest {
   background: rgba(255, 255, 255, .5);
 }
 .modal-background.filter.price {
   background: rgba(255, 255, 255, .5);
 }
 .modal-background.filter.guests {
   background: rgba(255, 255, 255, .5);
 }