$nav-bar-height: 90px;

.main-nav {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: $nav-bar-height;
    position: fixed;
    z-index: 3;
    top: 0;
    border-bottom: 1px solid rgb(223, 218, 218);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    background-color: white;
    font-weight: 500;
}

.main-nav.sticky {
    position: sticky;
    top: 0;
}

.filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    position: sticky;
    z-index: 2;
    top: $nav-bar-height;
    border-bottom: 1px solid rgb(223, 218, 218);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    background-color: white;
    font-weight: 500;
}

.filter-bar.fixed {
    position: fixed;
    top: $nav-bar-height;
    display: flex;
    flex-direction: row;

    .left-filter {
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .right-filter {
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;

        span {
            // margin-right: 15px;
            font-weight: 400;
        }

        .onoffswitch {
            margin: 0 15px;
        }
    }
}



.main-logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/86/Tent_Flat_Icon_Vector.svg');
    height: 70px;
    width: 70px;
    background-size: contain;
}

.main-logo:hover {
    cursor: pointer;
}

.main-nav.splash {
    position: fixed;
    border-bottom: none;
    background-color: transparent;
    box-shadow: none;
}

// .filler-nav {
//     width: 100%;
//     height: 100px;
// }


.main-nav .right-nav {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.dropdown-parent {
    position: relative;
}
.main-nav .right-nav .dropdown-parent, .main-nav .right-nav button, .main-nav .right-nav a {
    background: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav .right-nav-el {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.main-nav .right-nav .dropdown-parent:hover, .main-nav .right-nav button:hover, .main-nav .right-nav a:hover {
    border-bottom: 2px solid black;
}

.main-nav .right-nav a {
    display: inline-block;
    font: inherit;
    text-decoration: none;
    color: inherit;
}

.main-nav .left-nav {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-nav .left-nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.right-nav .user-options {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: $nav-bar-height;
    left: 0;
    height: 193px;
    width: 180px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    border-top: 1px solid grey;
    padding: 20px;
    overflow: hidden;
}

.right-nav .user-options.creator {
    height: 193px;
    width: 170px;
}

.right-nav .dropdown-parent:hover .user-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-options:hover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-options:hover .dropdown-parent {
    border-bottom: 2px solid black;
}

.nav-search-box #search-info-where {
    margin-left: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    width: 300px;
    height: 55px;
    font-size: 22px;
    font-weight: 500;
}

.filter-bar button:first-child {
    margin-left: 103px;
}

.filter-bar button {
    margin-left: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
}

.filter-bar button:hover {
    background-color: rgb(233, 227, 227)
}

.filter-field {
    display: none;
}

.filter-field.display-on {
    display: block;
    position: absolute;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    
    li {
        margin: 10px;
    }

    li:hover {
        text-decoration: underline;
    }
}
