.splash-page-img {
    height: 100vh;
    min-height: 400px;
    width: 100%;
    background-image: image-url('North_Cascades.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}